<section id="korte-uitleg" class="component">
  <h2>Algemene info</h2>
  <h3>Wat is Middel in Beweging?</h3>
  <p>Wil je fit blijven, je conditie verbeteren en je brein een boost geven? Onze aerobicslessen voor volwassenen zijn dé manier om actief bezig te zijn in een gezellige sfeer. Of je nu 18 bent of 99 – iedereen is welkom!</p>
  <h3>Waarom aerobics?</h3>
  <p>
  <ul>
    <li><b>Verbrand calorieën</b> op een leuke manier.</li>
    <li><b>Versterk je spieren</b> en verbeter je uithoudingsvermogen.</li>
    <li><b>Boost je energie</b> en voel je fitter in het dagelijks leven.</li>
    <li><b>Goed voor je brein</b>: beweging stimuleert je geheugen, concentratie en mentale veerkracht.</li>
    <li><b>Samen bewegen</b> in een motiverende groep.</li>
  </ul>
  </p>
  <h3>Ik kan dat toch helemaal niet!</h3>
  <p>Denk je: <i>“Ik kan dit allemaal niet, ik doe alle pasjes verkeerd”</i>?
Bij ons geldt: er is geen verkeerde kant, alleen de andere kant!
Het gaat niet om perfectie, maar om lekker bewegen, plezier maken en je goed voelen. Iedereen doet mee op zijn eigen tempo en dat is helemaal oké.</p>
  <h3>Wat neem je mee?</h3>
  <p>
  <ul>
  <li>Je komt in sportieve kleding (er zijn geen kleedkamers)</li>
  <li>Flesje water</li>
  <li>Eventueel een handdoek om je zweet af te vegen</li>
  <li>Een goed humeur!</li>
  </ul>
  </p>
</section>
