<section id="rooster" class="component">
  <h2>Agenda</h2>
  <h3>Locatie</h3>
  <p>Alle lessen vinden plaats in <a href="https://maps.app.goo.gl/mRnToctwkfXzo5uG9" target="_blank">Buurthuis 't Middelpunt, Oude Deventerweg 5a, 8121RK Olst (Middel)</a>.<br>Er zijn geen kleedkamers, wel toiletten.</p>
  <p>De les op maandag is momenteel vol. Je kunt echter nog wel terecht bij onze flex-groep. Bij deze groep bepalen de deelnemers wekelijks zelf de lesdag. Via een poll in de WhatsApp-groep wordt elke week gestemd op de beschikbare opties, waarna de definitieve dag wordt vastgesteld.</p>
  {% if site.data.schedule and site.data.schedule.weeks %}
    {% for w in site.data.schedule.weeks %}
      <div class="week">
        <h3>{{ w.week }}</h3>
        <ul class="sessions">
          {% for sess in w.sessions %}
            {% if sess.time %}
              <li><strong>{{ sess.day }}</strong>: {{ sess.time }}</li>
            {% else %}
              <li><i>{{ sess.day }}</i></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  {% else %}
    <p>Nog geen rooster toegevoegd. </code>.</p>
  {% endif %}
</section>
