<section id="rooster" class="component">
  <h2>Agenda</h2>
  {% if site.data.schedule and site.data.schedule.weeks %}
    {% for w in site.data.schedule.weeks %}
      <div class="week">
        <h3>{{ w.week }}</h3>
        <ul class="sessions">
          {% for sess in w.sessions %}
            <li><strong>{{ sess.day }}</strong>: {{ sess.time }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  {% else %}
    <p>Nog geen rooster toegevoegd. </code>.</p>
  {% endif %}
</section>
