<section id="voorwaarden" class="component">
  <h2>Algemene voorwaarden</h2>
  <ol>
    <li>Algemeen</li>
Deze algemene voorwaarden zijn van toepassing op alle groepslessen aerobics voor volwassenen aangeboden door Middel in Beweging. Middel in Beweging is een handelsnaam en onderdeel van Met Anne, welke is ingeschreven bij de Kamer van Koophandel onder nummer 98701010 en hierna te noemen 'Middel in Beweging'.
<li>Deelname en Aansprakelijkheid</li>
Deelname aan de lessen van Middel in Beweging geschiedt geheel op eigen risico.
Middel in Beweging is niet aansprakelijk voor enige vorm van letsel, schade of verlies ontstaan tijdens of als gevolg van deelname aan de lessen.
Deelnemers zijn zelf verantwoordelijk voor het inschatten van hun fysieke en mentale geschiktheid om deel te nemen.
Deelnemers dienen vóór deelname een arts te raadplegen bij twijfel over hun fysieke conditie of bij reeds bestaande blessures of gezondheidsklachten.
<li>Betaling</li>
Betaling per les dient binnen 7 dagen na de les te geschieden via een betaalverzoek of contant.
Nieuwe deelnemers mogen één (proef)les gratis volgen. Dit geldt per persoon en is eenmalig.
<li>Annulering en Wijzigingen</li>
Middel in Beweging behoudt zich het recht voor om lessen te annuleren of te wijzigen in geval van overmacht, ziekte of onvoldoende deelnemers.
Deelnemers worden van annuleringen of wijzigingen tijdig op de hoogte gesteld via de WhatsApp-groep.
<li>Gedrag en Veiligheid</li>
Deelnemers dienen zich respectvol te gedragen tegenover de trainer en andere deelnemers.
Middel in Beweging behoudt zich het recht voor om deelnemers te weigeren of uit te sluiten bij ongepast gedrag.
<li>Privacy</li>
Persoonsgegevens worden uitsluitend gebruikt voor communicatie over de lessen en worden niet gedeeld met derden.
<li>Intellectueel Eigendom</li>
De lesinhoud, instructies en eventueel verstrekte materialen zijn eigendom van Middel in Beweging. Het is niet toegestaan deze zonder voorafgaande toestemming te kopiëren of te delen.</li>
  </ol>
</section>